<%# Partial templates are meant to be rendered inside other templates.
    In rails, we prefix templates that are meant to be used as partials
    with an `_`.
%>

<%# `form_for` is a helper method that expects you to give it an instance of a
    model as its first argument. From that instance, `form_for` will automatically
    pick the correct path to create appropriate `action`, fill in ids and classes
    based on the model's name, fill in input fields values based on the columns
    they represent, create for a new instance or editing and existing instance, etc.
%>

<%# `form_for` can determine if it should render a form as an edit or a new
    based on whether or not the model instance passed in is `.persisted?`.
    `.persisted?` is a method that returns true or false indicateing whether
    or not an instance is saved to the database.
%>

<%= simple_form_for @question do |form| %>
  <!-- <% if @question.errors.present? %>
    <p><%= @question.errors.full_messages.join(', ') %></p>
  <% end %> -->

  <!-- <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div> -->
  <!-- <%= form.input :title, required: false %> -->
  <%= form.input :title %>
  <!-- <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div> -->
  <%= form.input :body %>

  <%= form.input :image %>

  <!-- <%= form.input :body, as: :string %> -->
  <%= form.association :tags, input_html: { class: 'chosen-select' } %>

  <!-- <div> -->
    <%#= form.label :tags %> <br />
    <%#= form.collection_select(
      :tag_ids,
      Tag.order(:name),
      :id,
      :name,
      {},
      {
        multiple: true,
        class: 'chosen-select'
      }
    ) %>
  <!-- </div> -->

  <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%#= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |box| %>
  <%#=  <div>
      <p>
        <span class='tag-checkbox'><%= box.check_box %></span>
  <%#=      <%= box.label %>
  <%#=    </p>
    </div>
  <% end %>

  <!-- <%= form.submit %> -->
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
