<main class="container">

  <h2><%= @question.title %></h2>

  <p><%= @question.body %></p>

  <p>By <%= @question.user&.full_name || "[deleted]" %></p>

  <p><strong>View Count:</strong> <%= @question.view_count %></p>
  <!-- <p><strong>Created At:</strong> <%= @question.created_at %></p>
  <p><strong>Update At:</strong> <%= @question.updated_at %></p> -->
  <p><strong>Created At:</strong> <%= time_ago_in_words(@question.created_at) %> ago</p>
  <p><strong>Update At:</strong> <%= time_ago_in_words(@question.updated_at) %> ago</p>

  <% if can?(:manage, @question) %>
  <%= link_to 'Edit', edit_question_path(@question) %>

  <%=
  link_to(
    'Delete',
    question_path(@question),
    method: :delete,
    data: {confirm: 'Are you sure?'}
  )
  %>
  <% end %>

  <% if can?(:like, @question) %>
    <% if @user_like %>
      <%= link_to fa_icon("thumbs-up 2x"), like_path(@user_like), method: :delete %>
    <% else %>
      <%= link_to fa_icon("thumbs-o-up 2x"), question_likes_path(@question), method: :post %>
    <% end %>
  <% end %>
  (<%= pluralize(@question.likes.count, 'like') %>)

  <h2>Answers</h2>

  <%# If we want to create a form for a model that is nested
  that belongs_to another model, we must give `form_for`
  both models in an array as its first argument where
  the first of element of the array is the model instance
  that the second element belongs to.
  %>


  <%= form_for [@question, @answer] do |f| %>
  <% if @answer.errors.present? %>
  <p>
    <%= @answer.errors.full_messages.join(', ') %>
  </p>
  <% end %>

  <div>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>
  <% end %>

  <div class="answer-list">
    <% @answers.each do |answer| %>
    <div class="answer-list-item">
      <p><%= answer.body %></p>
      <p>By <%= @question.user&.full_name || "[deleted]" %></p>
      <p>
        <strong>Created At:</strong>
        <%= time_ago_in_words(answer.created_at) %> ago
      </p>
      <% if can?(:manage, @question) %>
      <%= link_to(
      'Delete',
      question_answer_path(@question, answer),
      data: {confirm: 'Are you sure?'},
      method: :delete
      ) %>
      <% end %>

    </div>
    <% end %>
  </div>
</main>









<%# %>
